@import "./base.scss";

section#sliderWindow {
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: $orange-1;
    z-index: 100;
    >h2 {
      width: 100%;
      text-align: left;
      font-family: 'Bitter', serif;
      color: $blue-4;
    }
    >button {
      background-color: transparent;
      padding: 0;
      margin: 0;
      border: none;
      >svg {
        width: 40px;
        height: 40px;
        display: block;
        fill: $blue-4;
        padding: 0;
        margin: 0;
        &:hover {
          fill: $orange-2;
         .x {
            stroke: $orange-4;
          }
        }
      }

    }
    h4 {
      font-family: 'Bitter', serif;
      font-style: italic;
      font-weight: 400;
    }
    .cont {
      display: block;
      position: relative;
      width: 100%;
     // height: 100%;
    // overflow: hidden;
      margin: auto;
      background-color: $orange-15;
      img {
          position: relative;
          margin: auto;
          display: block;
        //  top: 0;
      //   bottom: 0;
      //   left: 0;
      //   right: 0;
          max-width: 1200px;
          max-height: 60vh;
      //    max-height: 100vh;
          z-index: 100;
          
      }
  }

  .custom-prev-arrow,
  .custom-next-arrow {
    z-index: 10;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    font-size: 1.5rem;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    &:hover {
      background-color: #000;
      color: red;
    }
  }
  .custom-prev-arrow {
    background-image: url("./svg/dor/btnL.svg");
    left: 0;
    transform: translateY(-50%);
    &:hover {
        background-image: url("./svg/dor/btnLhover.svg");
    }
  }
  .custom-next-arrow {
    background-image: url("./svg/dor/btnR.svg");
    right: 0;
    transform: translateY(-50%);
    &:hover {
        background-image: url("./svg/dor/btnRhover.svg");
    }
  }
}